Build/
build/


*.so
*.dylib
*.o
*.obj
*.exe


.vscode/


*.log

*.tmp
*.temp

CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

*.vcxproj
*.vcxproj.filters
*.user
*.ncb
*.suo
*.sln.docstates
*.ipch

*.generated.*
